[submodule "external/gtest"]
	path = external/gtest
	url = https://github.com/google/googletest
[submodule "external/cnpy"]
	path = external/cnpy
	url = https://github.com/rogersce/cnpy
[submodule "external/pystring"]
	path = external/pystring
	url = https://github.com/imageworks/pystring
